body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  width: 300px;
  height: 300px;
  padding: 10px;
}

/* global */
button {
  background-color: rgba(194,231,112,255);
  color: rgb(56,52,53,255);
  border:solid rgb(56,52,53,255);
  border-radius: 5px;
  width:90px;
  height:30px;
  margin:5px;
}

button>a {
  color: rgb(56,52,53,255);
}

button:active {
  background-color: rgba(194,231,112,255);
  color: rgb(116,160,58,255);
  border:solid rgb(116,160,58,255);
}

button:hover {
  cursor:pointer;
  background-color: rgba(157,208,23,255);
}

.required {
  color: red;
  font-size: small;
}

/* userCreate */
#user-create {
  display:flex;
  flex-direction: column;
  align-items: center;
  border:solid rgb(56,52,53,255);
  margin: 5%;
  padding: 2% 5% 2% 5%;
  
}
#user-create>form {
  width:70%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
#user-create>form>div{
  width:100%;
  margin:9px;
}
#user-create>form>div>input {
  height:30px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(56,52,53,255);
  width:100%
}
.submit-buttons{
  display: flex;
  justify-content: center;
}

/* AllProducts */
#all-products{
  display:flex;
  justify-content: center;
  margin: 5%;
  flex-flow:wrap;
  border:solid rgb(56,52,53,255);
}
#all-products>div{
  display:flex;
  flex-direction: column;;
  align-items: center;
  width: 300px;
  margin: 15px;
}
#all-products>div>a{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0px;
}
#all-products>div>a>h2{
  margin:0px;
}
#all-products>div>div{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}
