*{padding: 0; margin: 0; box-sizing: border-box;}
#site{
  background-color: #B1907F;
  height: 100%;
  overflow: auto;
  background-size: cover;
}
.nav {
  display: flex;
  flex-grow: calc(100%);
  flex-direction: column;
	background-image: url('https://i.pinimg.com/originals/e0/98/bd/e098bd5eb2c67b95621275e7adc87b12.jpg');
  background-size: 100%;
  background-position: center center;
  color: #4fc0a4;
	overflow: hidden;
	border-radius: 5% 5% 5% 5% / 20%;
  height: 300px;
}
.top{
  display: flex;
  justify-content: center;
}
.bar{
  display: flex;
  margin-top: 4%;
  justify-content: center;
}

.usericon {
  width:150px;
  height:150px;
  border-radius:30%;
}

.logo{
  width: 150px;
  height: 150px;
  border-radius:30%;

}
h1 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	margin-bottom: 30px;
	margin-top: 10px;
	text-shadow: 3px 3px 3px black;

}

b {
  justify-content: right;
  color: #4fc0a4;
	font-size: 20px;
	font-family: 'Open Sans', cursive;
  margin-left: 30px;
	text-shadow: 2px 2px 2px black;

}
p {
  float: left;
  color: #4fc0a4;
	font-size: 20px;
	font-family: 'Open Sans', cursive;
	margin-bottom: 40px;
  margin-left: 30px;
	text-shadow: 2px 2px 2px black;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  width: 300px;
  height: 300px;
  padding: 10px;
}


/* global */
button {
  background-color: rgba(194, 231, 112, 255);
  color: rgb(56, 52, 53, 255);
  border: solid rgb(56, 52, 53, 255);
  border-radius: 5px;
  width: 90px;
  height: 30px;
  margin: 5px;
}

button > a {
  color: rgb(56, 52, 53, 255);
}

button:active {
  background-color: rgba(194, 231, 112, 255);
  color: rgb(116, 160, 58, 255);
  border: solid rgb(116, 160, 58, 255);
}

button:hover {
  cursor:pointer;
  background-color: rgba(157,208,23,255);
}

.required {
  color: red;
  font-size: small;
}

/* userCreate */
#user-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid rgb(56, 52, 53, 255);
  margin: 5%;
  padding: 2% 5% 2% 5%;
  background-color: #B4D3B2;
}
#user-create > form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#user-create > form > div {
  width: 100%;
  margin: 9px;
}
#user-create > form > div > input {
  height: 30px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(56, 52, 53, 255);
  width: 100%;
}
.submit-buttons {
  display: flex;
  justify-content: center;
}

/* user-page */
.cart,
.orders,
.payment {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(56, 52, 53, 255);
  padding: 10px;
}
/* AllProducts */
#all-products{
  display:flex;
  justify-content: center;
  margin: 5%;
  flex-flow:wrap;
  border:solid rgb(56,52,53,255);
  background-color: #B4D3B2;
}
#all-products>div{
  display:flex;
  flex-direction: column;;
  align-items: center;
  width: 300px;
  margin: 15px;
}
#all-products>div>a{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0px;
}
#all-products>div>a>h2{
  margin:0px;
}
#all-products>div>div{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}
/*singleProduct*/
.singleProduct{
  display:flex;
  justify-content: center;
  margin: 5%;
  flex-flow:wrap;
  background-color: #B4D3B2;
  border:solid rgb(56,52,53,255);
  border-radius: 10px 100px / 120px;
}
.singleProduct>div{
  display:flex;
  flex-direction: column;;
  align-items: center;
  width: 300px;
  margin: 15px;
}
.singleProduct>div>a{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0px;
}
.singleProduct>div>a>h2{
  margin:0px;
}
.singleProduct>div>div{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}
/*      ORDER Page          */
#order{
  display:flex;
  justify-content: center;
  margin: 5%;
  flex-flow:wrap;
  border:solid rgb(56,52,53,255);
}
#order>div{
  display:flex;
  flex-direction: column;;
  align-items: center;
  width: 300px;
  margin: 15px;
}
#order>div>a{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0px;
}
#order>div>a>h2{
  margin:0px;
}
#order>div>div{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}

.none{
  display:none;
}

.order-summary{
  border-style: solid;
  border-width:2px;
}

.logo{
  justify-content: left;
  width: 150px;
  height: 150px;
}

.user-list{
  border-style: solid;
  border-width: 2px;
}

.product-list {
  border-style: solid;
  border-width: 2px;
}

.order-list {
  border-style: solid;
  border-width: 2px;
}