*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 400px;}
header {
	background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRuroeBxpESdwdyCi1-hhCIJn4oE_GpTHEmA&usqp=CAU');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}
/* ///////////// */
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  width: 300px;
  height: 300px;
  padding: 10px;
}


/* global */
button {
  background-color: rgba(194, 231, 112, 255);
  color: rgb(56, 52, 53, 255);
  border: solid rgb(56, 52, 53, 255);
  border-radius: 5px;
  width: 90px;
  height: 30px;
  margin: 5px;
}

button > a {
  color: rgb(56, 52, 53, 255);
}

button:active {
  background-color: rgba(194, 231, 112, 255);
  color: rgb(116, 160, 58, 255);
  border: solid rgb(116, 160, 58, 255);
}

button:hover {
  cursor:pointer;
  background-color: rgba(157,208,23,255);
}

.required {
  color: red;
  font-size: small;
}

/* userCreate */
#user-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid rgb(56, 52, 53, 255);
  margin: 5%;
  padding: 2% 5% 2% 5%;
}
#user-create > form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#user-create > form > div {
  width: 100%;
  margin: 9px;
}
#user-create > form > div > input {
  height: 30px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(56, 52, 53, 255);
  width: 100%;
}
.submit-buttons {
  display: flex;
  justify-content: center;
}

/* user-page */
.cart,
.orders,
.payment {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(56, 52, 53, 255);
  padding: 10px;
}
/* AllProducts */
#all-products{
  display:flex;
  justify-content: center;
  margin: 5%;
  flex-flow:wrap;
  border:solid rgb(56,52,53,255);
}
#all-products>div{
  display:flex;
  flex-direction: column;;
  align-items: center;
  width: 300px;
  margin: 15px;
}
#all-products>div>a{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0px;
}
#all-products>div>a>h2{
  margin:0px;
}
#all-products>div>div{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}
/*ORDERS Page*/
#order{
  display:flex;
  justify-content: center;
  margin: 5%;
  flex-flow:wrap;
  border:solid rgb(56,52,53,255);
}
#order>div{
  display:flex;
  flex-direction: column;;
  align-items: center;
  width: 300px;
  margin: 15px;
}
#order>div>a{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0px;
}
#order>div>a>h2{
  margin:0px;
}
#order>div>div{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}

.none{
  display:none;
}

.order-summary{
  border-style: solid;
  border-width:2px;
}

.usericon {
  width:100px;
  height:100px;
  justify-content: right;
  object-fit:cover;
  border-radius:50%;
}

.logo{
  width: 100px;
  height: 100px;
}